// GLOBAL
$st-color-very-light-creme: #FFF7E1; // logo, holz ist, nawigacja jasna, podpisy banner-ow, podświetlenie opisow leisungen
$st-color-brown: #673d1d; // kontakt button, leisungen nazwy
$st-color-dark-brown: #200c07; // Was Wir Machen, Haben Sie Fragen
$st-color-inner-footer-text: #b5aeac;


// MAIN SITE

$st-color-light-pink: #fddbc5; // Modul 2 - zaznaczenia
$st-color-mild-gray: #6c6c6c; // Modul 2 - opisy

// LEISUNGEN
$st-color-light-gray: #f2f2f2;
$st-services-btn-color: #450202;

// OFF-CANVAS
$st-divider-color: #48362e;
$st-anchor-color: #847569;
$st-toggle-nav-color: #210c07;

// KONTAKT
$st-map-contact-light-gray: #b4b4b4;
$st-map-contact-gray: #6c6c6c; // krycie 66%

// IMPRESSUM
$st-red-brown: #3d0606; // nawigacja ciemna MOŻEMY JĄ ZASTĄPIĆ dark-brown